{% extends 'base.html' %}

{% block contenido %}
    <h1>Restablecer contraseña</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">
            Enviar correo electrónico
        </button>
    </form>
    {% endblock %}
    <center>
        <div class="container" style="margin-top: 370px;">
        <div class="messages">
            {% for message in messages %}
                <table {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {{ message }}
                </table>
            {% endfor %}
        </div>
    </div>
    </center>